---
import Avatar from "@/components/Avatar.astro";
import Layout from "@/layouts/Layout.astro";
import FadeInElement from "@/components/FadeInElement.astro";
---

<Layout siteSubTitle="关于我">
  <div class="flex justify-between">
    <div class="flex flex-col gap-4">
      <FadeInElement delay={200}>
        <p>自我介绍还没想好怎么写～～</p>
      </FadeInElement>
    </div>
    <FadeInElement delay={1400}>
      <Avatar />
    </FadeInElement>
  </div>
</Layout>
