---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Category from "@/components/Category.astro";
import DateFormatter from "@/components/DateFormatter.astro";

export async function getStaticPaths() {
  return (await getCollection("blog")).map(post => ({
    params: { id: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<Layout siteSubTitle={post.data.title}>
  <main class="mx-auto min-h-[90vh] max-w-screen-md p-4">
    <article class="prose lg:prose-base max-w-screen-md">
      <div class="mb-12">
        <h1>{post.data.title}</h1>
        <div class="flex items-center gap-4">
          <DateFormatter date={post.data.date} />
          <Category category={post.data.category} />
        </div>
      </div>
      <Content />
    </article>
  </main>
  <Footer />
</Layout>
