---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import DateFormatter from "@/components/DateFormatter.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { id: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <Header />
  <main class="mx-auto max-w-screen-sm">
    <article class="prose lg:prose-base dark:prose-invert">
      <div class="mb-12">
        <h1 class="text-3xl">{post.data.title}</h1>
        <div class="flex items-center gap-2 text-sm text-[#a7a9be]">
          <DateFormatter date={post.data.date} />
          <div>
            {
              post.data.categories &&
                post.data.categories.map(category => (
                  <span class="before:content-['#']">{category}</span>
                ))
            }
          </div>
        </div>
      </div>
      <Content />
    </article>
  </main>
  <Footer />
</Layout>
