---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/base-layout.astro";
import { cn } from "@/lib/utils";
import { ChevronLeft } from "lucide-react";
import { buttonVariants } from "@/components/ui/button";
export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map(post => ({
    params: { id: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { title, date, category } = post.data;
const { Content } = await render(post);
---

<BaseLayout>
  <div slot="header" class="mt-20">
    <button onclick="history.back()" class={cn(buttonVariants({ variant: "outline", size: "sm" }))}>
      <div class="flex items-center">
        <ChevronLeft />
        <span>Back</span>
      </div>
    </button>
  </div>

  <article class="prose lg:prose-base dark:prose-invert">
    <div class="mb-12">
      <h1 class="text-3xl">{title}</h1>
      <div class="flex items-center gap-2 text-sm text-[#a7a9be]">
        <span>{date.toLocaleDateString()}</span>
        <span class="before:content-['#']">{category}</span>
      </div>
    </div>
    <Content />
  </article>
</BaseLayout>
