@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  color-scheme: light;
}

@theme {
  --animate-fade-up: fade-up 0.8s ease-out forwards;

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: sans-serif;
}
