---
import BaseLayout from "@/layouts/base-layout.astro";
import Breadcrumbs from "@/components/breadcrumbs";
---

<BaseLayout>
  <div slot="header" class="flex-1">
    <Breadcrumbs className="py-2" items={[{ text: "About" }]} />
  </div>
  <div>This is the about page</div>
</BaseLayout>
