---
import Layout from "@/layouts/Layout.astro";
import Hitokoto from "@/components/Hitokoto.astro";
import SiteTitle from "@/components/SiteTitle.astro";
import Avatar from "@/components/Avatar.astro";
import Nav from "@/components/Nav.astro";
---

<Layout>
  <main class="mx-auto flex min-h-[80vh] max-w-screen-lg items-center justify-between p-4">
    <div class="flex flex-col gap-10">
      <SiteTitle class="text-6xl sm:text-9xl" />
      <Hitokoto />
      <Nav />
    </div>
    <Avatar class="hidden sm:block" />
  </main>
</Layout>
