---
import { getCollection } from "astro:content";
import { cn } from "@/lib/utils";
import Layout from "@/layouts/Layout.astro";
import FadeInElement from "@/components/FadeInElement.astro";
import Intro from "@/components/Intro.astro";
import PostItem from "@/components/PostItem.astro";
import SectionTitle from "@/components/SectionTitle.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 6);
---

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("click", event => {
    const target = event.target as HTMLElement;
    if (target && target.id === "more-posts") {
      navigate("/posts");
    }
  });
</script>

<Layout siteSubTitle="">
  <FadeInElement delay={200}>
    <section class="flex justify-between gap-48 align-top">
      <Intro />
      <SectionTitle title="介绍" description="intro" position="right" />
    </section>
  </FadeInElement>
  <FadeInElement delay={400}>
    <section class="flex justify-between gap-48 align-top">
      <SectionTitle title="博客" description="blog" position="left" />
      <div class="flex flex-1 flex-col gap-4">
        {posts.map(({ id, data }) => <PostItem id={id} data={data} />)}
        <div class="flex justify-end pt-16">
          <button
            id="more-posts"
            class={cn(
              "relative px-4 py-1.5 text-xs tracking-wide",
              "bg-transparent text-zinc-500 dark:text-zinc-500",
              "border-1 border-zinc-200 dark:border-zinc-800 rounded-xl",
              "hover:bg-zinc-50/50 dark:hover:bg-zinc-800/30",
              "hover:border-zinc-300 dark:hover:border-zinc-700",
              "hover:text-zinc-700 dark:hover:text-zinc-400",
              "transition-all duration-300 cursor-pointer"
            )}
          >
            更多文章
          </button>
        </div>
      </div>
    </section>
  </FadeInElement>
  <FadeInElement delay={600}>
    <section class="flex justify-between gap-48 align-top">
      <div class="font-normal text-zinc-500 dark:text-zinc-400">暂时还没有作品喔~~</div>
      <SectionTitle title="作品" description="work" position="right" />
    </section>
  </FadeInElement>
</Layout>
