---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("post")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);
---

<BaseLayout>
  <div class="container" slot="main">
    {
      posts.map((post) => (
        <li class="list-none flex flex-col py-4  ">
          <div class="text-sm text-[#a7a9be] before:content-['#']">
            {post.data.category}
          </div>
          <a href={`/post/${post.slug}/`}>
            <h1 class="text-2xl">{post.data.title}</h1>
          </a>
          <div class="text-sm text-[#a7a9be]">{post.data.date}</div>
        </li>
      ))
    }
  </div>
</BaseLayout>
