---
import BaseLayout from "@/layouts/Layout.astro";
import Hitokoto from "@/components/Hitokoto.astro";
import SiteTitle from "@/components/SiteTitle.astro";
import Avatar from "@/components/Avatar.astro";
import Nav from "@/components/Nav.astro";
---

<BaseLayout>
  <main class="flex min-h-[80vh] items-center justify-center gap-100">
    <div class="flex flex-col gap-10">
      <SiteTitle />
      <Hitokoto />
      <Nav />
    </div>
    <Avatar />
  </main>
</BaseLayout>
