---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { site } from "@consts";

export async function getStaticPaths() {
  const posts: CollectionEntry<"post">[] = await getCollection("post");
  return posts.map(post => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"post">;
const post = Astro.props;
const { title, date, category } = post.data;
const { Content } = await render(post);
---

<BaseLayout>
  <div slot="header" class="mx-auto flex max-w-screen-md items-center justify-between p-4">
    <a href="/">
      <h1 class="text-2xl font-bold text-black dark:text-white">
        {site.title}
      </h1>
    </a>
  </div>

  <article class="prose lg:prose-base dark:prose-invert">
    <div class="mb-12">
      <h1 class="text-3xl">{title}</h1>
      <div class="flex items-center gap-2 text-sm text-[#a7a9be]">
        <span>{date}</span>
        <span class="before:content-['#']">{category}</span>
      </div>
    </div>
    <Content />
  </article>
</BaseLayout>
