---
import { Image } from "astro:assets";
import avatar from "@/assets/avatar.png";
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="relative select-none">
  <Image
    id="avatar-image"
    class={cn("rounded-full object-cover border-3 border-zinc-200", className)}
    src={avatar}
    alt="avatar"
    draggable="false"
  />
</div>
