---
import { Image } from "astro:assets";
import avatar from "@/assets/avatar.png";
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="avatar-container group relative select-none">
  <Image
    id="avatar-image"
    class={cn(
      "rounded-full object-cover border-3 border-zinc-200",
      "transition-all duration-500 ease-in-out select-none",
      "dark:shadow-none",
      className
    )}
    src={avatar}
    alt="avatar"
    draggable="false"
  />
</div>

<style>
  /* 防止选择高亮 */
  .avatar-container * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
</style>
