---
interface Props {
  category?: string;
}
const { category } = Astro.props;
---

{
  category && (
    <span class="rounded-full bg-zinc-100 px-2 py-1 text-xs font-medium text-zinc-600 before:content-['#'] dark:bg-zinc-800 dark:text-zinc-300">
      {category}
    </span>
  )
}
