---
import { cn } from "@/lib/utils";

interface Props {
  category?: string;
}
const { category } = Astro.props;
---

{
  category && (
    <span class={cn("rounded-full px-2 py-1 text-xs font-medium before:content-['#']", "bg-zinc-100 text-zinc-600")}>
      {category}
    </span>
  )
}
