---

---

<div transition:persist id="toggle-color-scheme" class="h-5 w-5 cursor-pointer">
</div>

<script>
  const initialColorScheme = () => {
    const DARK_MODE_QUERY = "(prefers-color-scheme: dark)";
    const systemPrefersDark = window.matchMedia(DARK_MODE_QUERY).matches;

    const userPrefersDark =
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) && systemPrefersDark);
    document.documentElement.classList[userPrefersDark ? "add" : "remove"](
      "dark",
    );
  };

  initialColorScheme();
  document.addEventListener("astro:after-swap", initialColorScheme);

  const toggleColorScheme = () => {
    const isDark = document.documentElement.classList.contains("dark");

    document.documentElement.classList.toggle("dark");
    localStorage.theme = isDark ? "light" : "dark";
  };

  const button = document.getElementById("toggle-color-scheme");
  button?.addEventListener("click", toggleColorScheme);
</script>

<style>
  #toggle-color-scheme {
    background-image: url(../assets/moon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  html.dark #toggle-color-scheme {
    background-image: url(../assets/sun.svg);
  }
</style>
