---
import Avatar from "./Avatar.astro";
---

<div class="flex max-w-xl flex-col gap-4">
  <div class="flex flex-col gap-8">
    <div
      class="flex flex-col gap-8 leading-relaxed text-zinc-700 dark:text-zinc-300"
    >
      <Avatar class="size-16" />
      <p>👋 你好, 我是「 无畏小生 」。</p>
      <p>
        这里既是我的博客，也是我灵魂缓缓栖息的地方。我把自己藏进字里
        ，静静地，没有声张，也没有掩饰。
      </p>
      <p>若你愿意读下去，我就在这里。</p>
    </div>
  </div>
</div>
