---
import { site } from "@/consts";
---

<nav class="flex items-center gap-4">
  {
    site.nav.map(({ name, url }, index) => (
      <>
        {index != 0 && <span class="text-sm text-zinc-400">/</span>}
        <a href={url} class="text-zinc-900" rel="noopener noreferrer">
          {name}
        </a>
      </>
    ))
  }
</nav>
