---
import { site } from "@/consts";
import { cn } from "@/lib/utils";
---

<nav class="flex items-center gap-4">
  {
    site.nav.map(({ name, url }, index) => (
      <>
        {index != 0 && <span class="text-xs text-zinc-300 dark:text-zinc-600">/</span>}
        <a href={url} class="group relative inline-block" target="_blank" rel="noopener noreferrer">
          <span class="text-sm tracking-wide text-zinc-600 transition-all duration-300 group-hover:text-zinc-800 dark:text-zinc-400 dark:group-hover:text-zinc-200">
            {name}
          </span>
          <span
            class={cn(
              "absolute -bottom-[2px] left-1/2 h-[1px] w-0 bg-zinc-400 dark:bg-zinc-500",
              "origin-center -translate-x-1/2 transform",
              "transition-all duration-250 ease-in-out",
              "opacity-0 group-hover:w-full group-hover:opacity-90"
            )}
          />
        </a>
      </>
    ))
  }
</nav>
