---
const { post } = Astro.props;
---

<li class="gap flex list-none flex-row items-center gap-x-6 text-center">
  <span class="text-sm text-[#a7a9be]">{post.data.date.toLocaleDateString()}</span>
  <a href={`/posts/${post.id}/`}>
    <h2 class="border-b-1 border-neutral-950 dark:border-neutral-50">{post.data.title}</h2>
  </a>
</li>
