---
import DateFormatter from "@/components/DateFormatter.astro";
import Category from "@/components/Category.astro";

type Props = {
  id: string;
  data: {
    date: Date;
    title: string;
    category?: string;
  };
};

const { id, data } = Astro.props as Props;
---

<li class="list-none border-b-1 border-zinc-200">
  <DateFormatter date={data.date} />
  <div class="flex items-center justify-between py-2">
    <h3><a href={`/posts/${id}`} target="_blank" rel="noopener noreferrer">{data.title}</a></h3>
    <Category category={data.category} />
  </div>
</li>
