---
import { cn } from "@/lib/utils";
type Props = {
  title: string;
  description: string;
  position: "left" | "right";
};

const { title, description, position } = Astro.props as Props;
---

<div class={cn(position === "left" ? "items-start" : "items-end", "hidden flex-col sm:flex")}>
  <h2 class="text-2xl">{title}</h2>
  <p class="text-xs text-zinc-500">{description}</p>
  <div class="mt-4 h-2 w-16 rounded-2xl bg-zinc-900"></div>
</div>
