---
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  description: string;
  position: "left" | "right";
};

const { title, description, position } = Astro.props as Props;
---

<div
  class={cn(
    position === "left" ? "items-start" : "items-end",
    "hidden flex-col sm:flex",
  )}
>
  <div class="flex flex-col gap-1">
    <p
      class="text-xs font-light tracking-widest text-zinc-400 uppercase dark:text-zinc-500"
    >
      {description}
    </p>
    <h2
      class="text-lg font-medium tracking-wide text-zinc-700 dark:text-zinc-300"
    >
      {title}
    </h2>
  </div>
  <div
    class={cn(
      "mt-3 h-px w-10 opacity-30 transition-all duration-300 group-hover:w-16 group-hover:opacity-60",
      position === "left"
        ? "bg-gradient-to-r from-zinc-400 to-transparent dark:from-zinc-600"
        : "bg-gradient-to-l from-zinc-400 to-transparent dark:from-zinc-600",
    )}
  >
  </div>
</div>
