---
import { cn } from "@/lib/utils";
type Props = {
  title: string;
  description: string;
  position: "left" | "right";
};

const { title, description, position } = Astro.props as Props;
---

<div class={cn(position === "left" ? "items-start" : "items-end", "hidden flex-col sm:flex")}>
  <h2 class="text-xl font-medium tracking-wide text-zinc-500">{title}</h2>
  <p class="text-xs font-normal tracking-wide text-zinc-400">{description}</p>
  <div class="mt-3 h-px w-12 bg-gradient-to-r from-zinc-400 to-transparent opacity-40"></div>
</div>
