---
import { site } from "@/consts";
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h1
  class={cn(className, "font-extrabold tracking-tight text-zinc-900 dark:text-zinc-100 site-title")}
>
  <a href="/" class="transition-colors duration-200 hover:text-zinc-700 dark:hover:text-zinc-200"
    >{site.author}</a
  >
</h1>
