---
import "lxgw-wenkai-screen-webfont";
import BaseHead from "@/layouts/BaseHead.astro";
import { site } from "@/consts";
---

<html lang="en">
  <head>
    <BaseHead title={site.title} description={site.description} />
  </head>
  <body class="mx-auto mt-20 flex max-h-screen max-w-screen-sm flex-col gap-12 p-6">
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
