---
import BaseHead from "@components/BaseHead.astro";
import "lxgw-wenkai-lite-webfont";
import { site } from "@consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={site.title} description={site.description} />
  </head>
  <body class="h-screen bg-[#fffffe] text-[#0f0e17] dark:bg-[#0f0e17] dark:text-[#fffffe]">
    <header class="sticky top-0 container mx-auto backdrop-blur-xl dark:border-white/5">
      <slot name="header" />
    </header>
    <main class="mx-auto max-w-screen-md p-4">
      <slot />
    </main>
    <footer class="mx-auto max-w-screen-md p-4">
      <slot name="footer" />
    </footer>
  </body>
</html>
