---
import BaseHead from "@/layouts/base-head.astro";
import { site } from "@/consts";
import "lxgw-wenkai-screen-webfont";
---

<html lang="en">
  <head>
    <BaseHead title={site.title} description={site.description} />
  </head>
  <body class="max-h-screen">
    <header class="mx-auto max-w-screen-sm p-6">
      <slot name="header" />
    </header>
    <main class="mx-auto max-w-screen-sm p-6">
      <slot />
    </main>
    <footer class="mx-auto max-w-screen-sm p-6">
      <slot name="footer" />
    </footer>
  </body>
</html>
