---
import "lxgw-wenkai-screen-webfont";
import BaseHead from "@/layouts/base-head.astro";
import { site } from "@/consts";
import { ThemeToggle } from "@/components/theme-toggle";
---

<!-- Preventing the page from flashing or showing the wrong styles when switching themes. -->
<script is:inline>
  const getThemePreference = () => {
    const themeStorage = localStorage.getItem("theme");
    if (typeof localStorage !== "undefined" && themeStorage) {
      const themeData = JSON.parse(themeStorage);
      return themeData.state.theme;
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");
</script>

<html lang="en">
  <head>
    <BaseHead title={site.title} description={site.description} />
  </head>
  <body class="max-h-screen">
    <header class="mx-auto mt-20 flex max-w-screen-sm gap-x-2 p-6">
      <slot name="header" />
      <ThemeToggle client:load />
    </header>
    <main class="mx-auto max-w-screen-sm p-6">
      <slot />
    </main>
    <footer class="mx-auto max-w-screen-sm p-6">
      <slot name="footer" />
    </footer>
  </body>
</html>
