---
import { site } from "@/consts";
---

<footer class="mt-24 mb-12 flex flex-col items-center px-4 text-xs text-zinc-400">
  <!-- 分割线 -->
  <div class="mb-8 flex w-full max-w-16 items-center justify-center">
    <div class="h-px w-full bg-zinc-200"></div>
  </div>

  <div class="flex flex-col items-center gap-4">
    <p class="flex items-center gap-2">
      <span>&#169;</span>
      <span>{new Date().getFullYear()}</span>
      <span>&#8226;</span>
      <span>{site.author}</span>
    </p>
  </div>
</footer>
