---
import SiteTitle from "@/components/SiteTitle.astro";
import Nav from "@/components/Nav.astro";
import Hitokoto from "@/components/Hitokoto.astro";
---

<header class="fixed top-0 z-10 w-full border-b border-zinc-200 bg-white/30 backdrop-blur-xl">
  <div class="mx-auto flex h-14 max-w-screen-md items-center justify-between px-4">
    <div class="flex items-center gap-8">
      <SiteTitle class="text-2xl" />
      <Hitokoto />
    </div>
    <div class="flex items-center gap-8">
      <Nav />
    </div>
  </div>
</header>
