---
import "lxgw-wenkai-screen-webfont";
import { site } from "@/consts";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <Head title={site.title} description={site.description} />
  </head>
  <body>
    <slot />
  </body>
</html>
