---
import { cn } from "@/lib/utils";
import "@/styles/global.css";
import Head from "@/layouts/Head.astro";
import Header from "@/layouts/Header.astro";
import Footer from "./Footer.astro";

type Props = {
  siteSubTitle?: string;
};

const { siteSubTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Head siteSubTitle={siteSubTitle} />
  </head>
  <body class="bg-white text-zinc-900">
    <Header />
    <main class={cn("flex gap-32 max-w-screen-md min-h-[90vh] flex-col", "mt-32 mx-auto px-4")}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
