---
import Head from "@/components/Head.astro";
---

<style is:global>
  @import "tailwindcss";
  @plugin "tailwindcss-animate";
  @plugin "@tailwindcss/typography";

  body {
    font-family: "LXGW WenKai Screen", sans-serif;
  }
</style>

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <slot />
  </body>
</html>
