---
import "@/styles/global.css";
import Head from "@/layouts/Head.astro";
import Header from "@/layouts/Header.astro";
import Footer from "@/layouts/Footer.astro";

type Props = {
  siteSubTitle?: string;
};

const { siteSubTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Head siteSubTitle={siteSubTitle} />
  </head>
  <body class="bg-white text-zinc-900">
    <Header />
    <main class="mx-auto mt-32 flex min-h-[70vh] max-w-screen-md flex-col gap-32 px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
