---
import Head from "@/components/Head.astro";
import "@/styles/global.css";

type Props = {
  siteSubTitle?: string;
};

const { siteSubTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Head siteSubTitle={siteSubTitle} />
  </head>
  <body class="mx-auto flex max-w-screen-md flex-col gap-32 px-4 py-32">
    <slot />
  </body>
</html>
