---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

type Props = CollectionEntry<"post">["data"];

const { title, date, category } = Astro.props;
---

<BaseLayout>
  <article class="prose lg:prose-base dark:prose-invert" slot="main">
    <div class="mb-12">
      <h1 class="text-3xl">{title}</h1>
      <div class="flex items-center gap-2 text-sm text-[#a7a9be]">
        <span>{date}</span>
        <span class="before:content-['#']">{category}</span>
      </div>
    </div>
    <slot />
  </article>
</BaseLayout>
